.banner {
    display: flex;
    flex-direction: column;
    height: 30em;
    padding: 2em 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner__div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 35%;
}

.banner__sobre {
    font-weight: 600;
    color: var(--vermelho-principal);
}

.banner__titulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--preto-texto);
}

.banner__texto {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5em;
    color: var(--cinza-texto);
}