.banner {
    display: flex;
    flex-direction: column;
    height: 30em;
    padding: 2em 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner__div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 35%;
}

.banner__sobre {
    font-weight: 600;
    color: var(--vermelho-principal);
}

.banner__titulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--preto-texto);
}

.banner__texto {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5em;
    color: var(--cinza-texto);
}

.banner-vagas{
    display: flex;
    flex-direction: column;
    height: 30em;
    padding: 2em 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}


.banner-vagas__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}


.banner-vagas__sub {
    font-size: 14px;
    color: var(--vermelho-principal);
    padding: .5em;
    background-color: rgb(142, 36, 36,.05);
    border-radius: 16px;
}

.banner-vagas__titulo {
    font-size: 36px;
    font-weight: 600;
}

.banner-vagas__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--cinza-texto);
    margin-bottom: 2em;
}